.colorCard {
    background: #F9F9F7;

    .mainCards {
        display: flex;    
        justify-content: center;
        align-items: center;
        margin: auto;
        width: 1293px;    
        padding: 70px 0 100px;
        gap: 90px;

        .img {
            width: 600px;
            height: 566px;
        }

        .textCard {
            display: flex;
            flex-direction: column;
            width: 600px;
            gap: 24px;

            h1 {
                font: 500 55px Playfair Display;
                color: var(--neutral-07, #2C2F24);              
            }

            p {
                font: 500 18px DM Sans;
                color: var(--neutral-07, #2C2F24);

                &:last-child  {
                    font: 400 16px DM Sans;                
                    color: var(--neutral-06, #414536);
                }
            }           
        }
    }
}