@mixin image-block($defaultmain) {
    background-image: $defaultmain;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100px;
    height: 100px;
    margin: auto;
    margin-bottom: 30px;
}

@mixin image-block2($defaultmenu) {
    background-image: $defaultmenu;
    background-repeat: no-repeat;
    width: 306px;
    height: 320px;
    margin: auto;
    border-radius: 12px;
    margin-bottom: 30px;
}

.colormain {
    background: #F9F9F7;

    .main {
        display: flex;
        flex-direction: column;
        margin: auto;

        .title {
            background-image: url(../../public/assets/HomePage/main.svg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            height: 800px;

            .text {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: auto;
                margin-top: 227px;
                gap: 32px;

                h1 {
                    font: 400 100px Playfair Display;
                    color: var(--neutral-07, #2C2F24);
                    text-align: center;
                    width: 667px;
                }

                p {
                    font: 400 20px DM Sans;
                    color: var(--neutral-07, #2C2F24);
                    text-align: center;
                    width: 537px;
                }

                .btns {
                    display: flex;
                    gap: 16px;

                    .btnbron {
                        border-radius: 118px;
                        border: none;
                        background: #AD343E;
                        font: 700 16px DM Sans;
                        color: var(--neutral-01, #FFF);
                        text-align: right;
                        padding: 20px 32px;
                    }

                    .btnmenu {
                        border-radius: 118px;
                        border: 1.5px solid var(--neutral-07, #2C2F24);
                        font: 700 16px DM Sans;
                        color: var(--neutral-07, #182226);
                        text-align: right;
                        padding: 20px 32px;
                    }
                }
            }
        }

        .colorblockmenu {
            background: var(--neutral-01, #FFF);

            .blockmenu {
                background: var(--neutral-01, #FFF);
                margin: auto;
                width: 1293px;
                height: 712px;

                h1 {
                    font: 500 55px Playfair Display;
                    color: var(--neutral-07, #2C2F24);
                    text-align: center;
                    margin: auto;
                    margin-top: 92px;
                    margin-bottom: 64px;
                }

                .foodselection {
                    display: flex;                    
                    gap: 24px;

                    .itemMain {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        border-radius: 12px;
                        border: 1.5px solid var(--neutral-03, #DBDFD0);
                        background: var(--neutral-01, #FFF);
                        width: 306px;
                        height: 375px;
                        padding: 34px;
                        margin: auto;

                        .imgbreakfast {
                            @include image-block(url(../../public/assets/HomePage/tea.svg));
                        }

                        .imgmaindishes {
                            @include image-block(url(../../public/assets/HomePage/icon2.svg));
                        }

                        .imgdrinks {
                            @include image-block(url(../../public/assets/HomePage/icon3.svg));
                        }

                        .imgdesserts {
                            @include image-block(url(../../public/assets/HomePage/icon4.svg));
                        }

                        h2 {
                            font: 700 24px DM Sans;
                            color: var(--neutral-07, #2C2F24);
                            text-align: center;
                            margin-bottom: 15px;
                        }

                        p {
                            font: 400 16px DM Sans;
                            color: var(--neutral-06, #414536);
                            text-align: center;
                            width: 215px;
                            margin-bottom: 30px;
                        }

                        .btnblock {
                            font: 700 16px DM Sans;
                            color: #AD343E;
                            text-align: center;
                        }
                    }
                }
            }
        }

        .services {
            background: #F9F9F7;
            margin: auto;
            width: 1293px;
            height: 868px;

            h1 {
                font: 500 55px Playfair Display;
                color: var(--neutral-07, #2C2F24);
                width: 600px;
                margin-top: 120px;
                margin-bottom: 64px;
            }

            .events {
                display: flex;
                justify-content: space-between;
                gap: 24px;

                .itemEvents {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    width: 306px;
                    height: 443px;
                    gap: 15px;

                    .imgcaterings {
                        @include image-block2(url(../../public/assets/HomePage/kebab.svg));
                    }

                    .imgbirthdays {
                        @include image-block2(url(../../public/assets/HomePage/birthday.svg));
                    }

                    .imgweddings {
                        @include image-block2(url(../../public/assets/HomePage/happy.svg));
                    }

                    .imgevents {
                        @include image-block2(url(../../public/assets/HomePage/group.svg));
                    }

                    h2 {
                        font: 700 24px DM Sans;
                        color: var(--neutral-07, #2C2F24);
                        text-align: center;
                        margin-bottom: 15px;
                    }

                    p {
                        font: 400 16px DM Sans;
                        color: var(--neutral-06, #414536);
                        width: 230px;
                    }
                }
            }
        }
    }
}